kw*.rev
kw*.txt
kw*.dic
easy_chars.txt
test_script.txt
bin/
Debug/
Release/
ipch/
obj/
tmp/
Work/
work/
junk/
UnitTest/
.vs/
*__.cs
*__.c*
*__.h*
*.back*
*.VC.db
*.VC.opendb
*.ncb
*.opt
*.plg
*.lib
*.exe
*.dll
*.obj
*.log
*.save
*.lock
*.xlsx
*.swp
*.asta
